<?xml version="1.0"?>

<launch>
  <node name="skills_exec_node"  pkg="skills_executer"   type="skills_exec_node"  output="screen"/>
  <node name="skills_learn_node" pkg="skills_learning"   type="skills_learn_node" output="screen"/>
  <node name="skills_arbit_node" pkg="skills_arbitrator" type="skills_arbit_node" output="screen"/>
  <!-- <node name="TF_publisher_node" pkg="skills_util"       type="TF_publisher_node" output="screen"/> -->
  <node name="TF_publisher"      pkg="skills_util"       type="TF_publisher.py"   output="screen"/>
</launch>
